/*1920 X 1080*/
body{
	background-image:url("mario_o.png");
	background-repeat: no-repeat;
	background-size: cover;
}
/*Weeeeeeeeeeeeeeeeeeeee*/
	#felsor{
	font-weight:normal;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size:12px;
	float:center;
	text-align: center;
	margin-left:5px;
	margin-right:0px;
}
#enname{
	padding-left:2%;
}
#ncode{
	padding-left:10px;
	padding-right:430px;
	
}
#coin{
	padding-left:140px;
	padding-right:10px; 
	
}
#jegy{
	padding-left:20px;
}
#projekt{
	font-family: 'Press Start 2P', cursive;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	margin-top:40px;
	margin-left:550px;
	margin-right:550px;
	text-align:center;
}
#felsorol{
	
	font-weight:normal;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size:12px;
	
	text-align: center;
}
#form{
	font-family: 'Press Start 2P', cursive;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	text-align:center;
	margin-left:450px;
	margin-right:450px;
	margin-top:60px;
	
}
#button{
	font-family: 'Press Start 2P', cursive;
	color:#1a0d00;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
}
#div1{	
	
}
#div2{
	padding-bottom:15px;
}
#but2{
	margin-top:115px;
	margin-left:570px;
}
#felsorol{
	
	font-weight:normal;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size:12px;
	
	text-align: center;
}
/*End of Weeeeeeeeeeeeeeeeeeeee*/
@media only screen and (max-width: 1366px){
	#felsor{
	font-weight:normal;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size:12px;
	float:center;
	text-align: center;
	margin-left:5px;
	margin-right:0px;
}
#enname{
	padding-left:2%;
}
#ncode{
	padding-left:10px;
	padding-right:430px;
	
}
#coin{
	padding-left:140px;
	padding-right:10px; 
	
}
#jegy{
	padding-left:20px;
}
#projekt{
	font-family: 'Press Start 2P', cursive;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	margin-top:40px;
	margin-left:550px;
	margin-right:550px;
	text-align:center;
}
#form{
	font-family: 'Press Start 2P', cursive;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	text-align:center;
	margin-left:450px;
	margin-right:450px;
	margin-top:60px;
	
}
#button{
	font-family: 'Press Start 2P', cursive;
	color:#1a0d00;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
}
#div1{	
	
}
#div2{
	padding-bottom:15px;
}
#but2{
	margin-top:115px;
	margin-left:570px;
}
}
/***************************************Big Screen***************************************//*1920 X 1080*/
@media only screen and (max-width: 2560px) and (min-width: 1920px) {
	#felsor{
	font-weight:normal;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size:12px;
	
	text-align: center;
	/*margin-left:50px;
	margin-right:50px;
	padding-left:10%;*/
}
#felsorol{
	font-weight:normal;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size:12px;
	
	text-align: center;
}
#enname{
	/*padding-top:12px;*/
	padding-left:2%;
	margin-right:1px;
	
}
#ncode{
	
	padding-left:60px;
	padding-right:50px;
	
}
#coin{
	
	padding-left:1000px;
	padding-right:30px;
	
}
#jegy{
	
	padding-left:40px;
	padding-right:0px;
	
}
#projekt{
	font-family: 'Press Start 2P', cursive;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	margin-top:100px;
	font-size:20px;
	text-align:center;
}
#form{
	font-family: 'Press Start 2P', cursive;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	text-align:center;
	margin-top:100px;
	
}
#button{
	font-family: 'Press Start 2P', cursive;
	color:#1a0d00;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
}
#div1{	
	
	
}
#div2{
	
	padding-bottom:15px;
}
#but2{
	border: 5px solid purple;
	margin-top:190px;
	margin-left:823px;
}
}
/************2K-RES*****************************/
@media only screen and (min-width: 2560px) {
	#felsor{
	font-weight:normal;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size:20px;
	text-align: center;
	margin-left:150px;
}
#enname{
	/*padding-top:12px;*/
	padding-left:2%;
	margin-right:1px;
	
}
#ncode{
	
	padding-left:60px;
	padding-right:50px;
	
}
#coin{
	
	padding-left:1000px;
	padding-right:30px;
	
}
#jegy{
	
	padding-left:40px;
	padding-right:0px;
	
}
#projekt{
	font-family: 'Press Start 2P', cursive;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	margin-top:130px;
	margin-bottom:80px;
	font-size:35px;
	text-align:center;
}
#form{
	font-family: 'Press Start 2P', cursive;
	font-size:30px;
	color:#ffe6cc;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
	text-align:center;
	margin:0px;
	padding:0px;
	
}
#button{
	font-family: 'Press Start 2P', cursive;
	color:#1a0d00;
	font-size:25px;
	margin-top:60px;
	text-shadow: 2px 4px 0px rgba(152, 150, 150, 0.9);
}
#div1{	
	font-size:30px;
	margin:0px;
	padding:0px;
	
}
#div2{
	font-size:30px;
	padding:0px;
	margin:0px;
	
}
#but2{
	border: 5px solid purple;
	margin-top:190px;
	margin-left:823px;
	font-size:10px;
}
#uname{
	height:30px;
	margin:0px;
	padding:0px;
}
#pwd{
	
	height:30px;
}
#but2{
	margin-top:180px;
	margin-left:1120px;
	font-size:50px;
}
#but3{
	font-size:50px;
	margin-top:-55px;
	margin-left:2070px;
}
}